<!--内容-->
<div class="layout">
    <ul class="bread bg">
        <li><a href="#" class="icon-home">首页</a> </li>
    </ul>
    <div class="admin">
        <div class="line-big">
            <div class="xm3">
                <div class="panel border-back">
                    <div class="panel-body text-center">
                        <img src="/upload/<%= user.avatar %>" width="120" class="radius-circle">
                        <br> <%= user.name %>
                    </div>
                    <div class="panel-foot bg-back border-back">您好，<%= user.admin_name %>，这是您第<%= user.login_num %>次登录，上次登录为<%= user.last_login_time %>。</div>
                </div>
                <br>
                <div class="panel">
                    <div class="panel-head"><strong>站点统计</strong></div>
                    <ul class="list-group">
                        <li><span class="float-right badge bg-red">88</span><span class="icon-user"></span> 会员</li>
                        <li><span class="float-right badge bg-red"></span><span class="icon-cog"></span> 系统</li>
                        <li><span class="float-right badge bg-main">828</span><span class="icon-file"></span> 文件</li>
                        <li><span class="float-right badge bg-main">828</span><span class="icon-shopping-cart"></span> 订单</li>
                        <li><span class="float-right badge bg-main">828</span><span class="icon-file-text"></span> 内容</li>
                        <li><span class="float-right badge bg-main">828</span><span class="icon-database"></span> 数据库</li>
                    </ul>
                </div>
                <br>
            </div>