<%- include('../header') %>

<div class="xm9">
    <div class="tab-body">
        <br />
        <div class="tab-panel active" id="tab-set">
            <form name="editForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" name="userId" value="<%= single_user._id %>"/>
                    <div class="label">
                        <label for="name">登录名称</label>
                    </div>
                    <div class="field">
                        <input class="input" name='name' cols="50" value="<%= single_user.name %>" data-validate="required:请填写登录名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="admin_name">账号名称</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="admin_name" value="<%= single_user.admin_name %>" name="admin_name" size="50" data-validate="required:请填写账号名称" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="password">密码</label>
                    </div>
                    <div class="field">
                        <input type="password" class="input" id="password" name="password" size="50" placeholder="请输入密码" data-validate="required:请填写密码,length#>=6:密码长度不能少于6位,length#<=32:密码长度不能多于16位" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="repassword">重复密码</label>
                    </div>
                    <div class="field">
                        <input type="password" class="input" id="repassword" name="repassword" placeholder="请再次输入密码" size="50" data-validate="required:请再次填写密码,repeat#password:两次密码输入不一致" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="avatar">头像</label>
                    </div>
                    <img width="250" id="single_avatar" style="margin:5px auto;" src="/upload/avatar/<%= single_user.avatar %>" alt="">
                </div>
                <div class="form-button">
                    <button class="button bg-main" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../footer') %>
