<%- include('../header') %>

<div class="xm9">
    <form method="post">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>内容列表</strong></div>
            <div class="padding border-bottom">
                <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
                <input type="button" id="addUser" class="button button-small border-green" value="添加成员" />
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="45">选择</th>
                    <th width="120">账号名称</th>
                    <th width="*">登录名称</th>
                    <th width="200">登录次数</th>
                    <th width="300">最近登录时间</th>
                    <th width="120">操作</th>
                </tr>
                <% allusers.forEach(function(single_user){%>
                    <tr>
                        <td>
                            <input type="checkbox" name="id" value="<%= single_user._id%>" />
                        </td>
                        <td><%= single_user.admin_name %></td>
                        <td><%= single_user.name %></td>
                        <td><%= single_user.login_num %></td>
                        <td><%= single_user.last_login_time_nostamp %></td>
                        <td><a class="button border-blue button-little" href="/user/<%= single_user.name %>/edit">修改</a> <a class="button border-yellow button-little" href="/user/<%= single_user._id %>/remove" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a></td>
                    </tr>
                <% }) %>
            </table>
            <div class="panel-foot text-center">
                <ul class="pagination">
                    <% if(thispage > 1){%>
                        <li><a href="/user?page=<%= (thispage-1) %>">上一页</a></li>
                    <% } %>
                </ul>
                <ul class="pagination pagination-group">
                    <% for (var i=1;i<=pagenum;i++){ %>
                        <% if(i== thispage){ %>
                            <li class="active"><a href="/user?page=<%= i%>"><%= i %></a></li>
                        <% }else{ %>
                            <li><a href="/user?page=<%= i%>"><%= i %></a></li>
                        <% } %>
                    <% } %>
                </ul>
                <ul class="pagination">
                    <% if(thispage < pagenum - 1){%>
                        <li><a href="/user?page=<%= (thispage+1) %>">下一页</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </form>
</div>

<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
    //添加成员
    $('#addUser').click(function(){
        window.location.href =  '/user/create';
        return ;
    });
</script>
<%- include('../footer') %>