<%- include('../header') %>

<div class="xm9">
    <form method="post">
        <div class="panel admin-panel">
            <div class="panel-head"><strong>内容列表</strong></div>
            <div class="padding border-bottom">
                <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
                <input type="button" id="addPost" onclick="window.location.href='/content/create';" class="button button-small border-green" value="添加文章" />
                <input type="button" class="button button-small border-yellow" value="批量删除" />
                <input type="button" class="button button-small border-blue" value="回收站" />
            </div>
            <table class="table table-hover">
                <tr class="thead">
                    <th width="45">选择</th>
                    <th width="100">是否显示</th>
                    <th width="*">分类</th>
                    <th width="300">名称</th>
                    <th width="250">时间</th>
                    <th width="100" style="text-align: center;">操作</th>
                </tr>
                <% allposts.forEach(function (single_post) { %>
                    <tr>
                        <td>
                            <input type="checkbox" name="id" value="<%= single_post._id %>" />
                        </td>
                        <td><%= single_post.is_show %></td>
                        <td><%= single_post.is_belong %></td>
                        <td><%= single_post.title %></td>
                        <td><%= single_post.created_at %></td>
                        <td><a class="button border-blue button-little" href="/content/<%= single_post._id %>/edit">修改</a> <a class="button border-yellow button-little" href="/content/edit" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a></td>
                    </tr>
                <% }) %>
            </table>
            <div class="panel-foot text-center">
                <ul class="pagination">
                    <% if(thispage > 1){%>
                    <li><a href="/content?page=<%= (thispage-1) %>">上一页</a></li>
                    <% } %>
                </ul>
                <ul class="pagination pagination-group">
                    <% for (var i=1;i<=pagenum;i++){ %>
                    <% if(i== thispage){ %>
                    <li class="active"><a href="/user?page=<%= i%>"><%= i %></a></li>
                    <% }else{ %>
                    <li><a href="/content?page=<%= i%>"><%= i %></a></li>
                    <% } %>
                    <% } %>
                </ul>
                <ul class="pagination">
                    <% if(thispage <= pagenum - 1){%>
                    <li><a href="/content?page=<%= (thispage+1) %>">下一页</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </form>
</div>

<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
    //添加成员
    $('#add').click(function(){
        window.location.href =  '/posts/create';
        return ;
    });
</script>

<%- include('../footer') %>